[user]
	name = matthew-howe
	email = mattehowe@gmail.com
[core]
	editor = code --wait
	excludesfile = /Users/matthewhowe/.gitignore_global
	precomposeUnicode = true
[credential]
	helper = osxkeychain
